<section class="the-content has-sidebar single-product">
    <div class="product-info">
        <div class="image-and-buy">
            <img class="featured_image" src="{{site.url}}/spinner.svg"
                data-src="{{ site.url }}/assets/images/product-images/{{page.slug}}/{{page.featured_image}}"
                alt="image of {{ page.title }} by {{ page.author }}">
            {% include components-snipcart/snipcart-buy-button.html %}
        </div>
        <h1>{{ page.author }} : {{ page.title }} </h1>
        <h3>{{ page.publisher }}, {{ page.publicationDate }}</h3>
        <ul>
            <li>{{ page.binding }}</li>
            <li>ISBN: {{ page.ISBN }}</li>
            <li> {%- if page.otherDetails -%}
                {{ page.otherDetails }}
                {%- endif %}</li>
            {% if page.quantity > 1  %}
            <li>
                <h3>${{ page.price }}</h3>
            </li>
            {%- endif %}
        </ul>
    </div>
    <div class="product-description">
        {{page.content}}
    </div>
    {% include components-menus/share.html %}
    </div>
</section>