{% for product in site.products %} 
<!-- {% if product.quantity > 0 %} -->
<div class="product">
    <div class="product-description">
        <a href="{{ site.url }}{{ product.url }}">
            <figure>
                <img src="{{ site.url }}/assets/images/product-images/{{product.featured_image}}" alt="image of {{ product.title }}">
            </figure>
            <h2>{{ product.title }}</h2>
        </a>
        {% if product.subTitle %}
        <h3>{{ product.subTitle }}</h3>
        {% endif %}
        <h4>{{ product.author }}</h4>
        <p>{{product.summary}}</p>
    </div>
    <ul>
        <li>{{ product.binding }}</li>
        <li>{{ product.ISBN }}</li>
        <li>{{ product.otherDetails }}</li>
    </ul>
    {% if product.quantity > 0 %}
    <h3 class="price">${{ product.price }}</h3>
    {% endif %}
    <div class="buy-and-share">
        <!-- {% if product.quantity
        < 1 %}<h3>Sorry, sold out</h3>
            {% else %} -->
             {% include snipcart-button.html %}
            <button class="pure-button" onclick="window.location.href='{{ site.url }}{{ product.url }}'">
                <span>Product Page</span>
            </button>
            {% endif %} {% include components-menus/share.html %}
    </div>
    <!-- end .buy-and-share -->
</div>
<!-- end .product -->
<!-- {% endif %}  -->
{% endfor %}