{% for product in site.products %} {% if product.quantity > 0 %} {% if page.title == "Home" %}
<div class="product">
    <h2 class="product-title">{{product.title}}</h2>
    <p class="product-author">{{product.author}}</p>
   <a href="{{product.url}}"><img src="{{site.url}}/spinner.svg" data-src="{{ site.url }}/assets/images/product-thumbnails/{{product.slug}}/{{product.featured_image}}" alt="image of {{ product.title }} by {{ product.author }}"></a>
    <p>{{product.summary}}</p>
    <h3>${{product.price}}</h3>
    <p>Publisher: {{product.publisher}}
        <br>ISBN: {{product.ISBN}}
        <br>
    </p>
    {% include buy-and-share.html %}
    <hr>
</div>
{% endif %} {% endif %} {% endfor %}