{% if page.title == "Home" %}
{% for thumbnail_image in product.thumbnail_images %}
<div style="display: none;" data-fancybox="images-{{product.slug}}" id="#hidden-content-{{product.slug}}" data-caption="{{product.author}} | {{product.title}}">
<h2>{{product.title}}</h2>
<p>{{product.author}}</p>
 <img src="{{ site.url }}/assets/images/product-thumbnails/{{product.slug}}/{{thumbnail_image}}"
     alt="image of {{ product.title }} by {{ product.author }}"> 
{% include buy-and-share.html %}
</div>
{% endfor %} 




{% endif %}
