{% for product in site.products %}
<table style="width:100%">
    <tr>
        <td>
            <a href="{{ site.url }}{{ product.url }}">{{ product.title }}{% if product.subTitle %} {{ product.subTitle }} {% endif %}</a>
        </td>
        <td>{{ product.author }} </td>
         <!-- {% if product.quantity
        < 1 %} <td>Sorry, sold out</td>
         {% else %} -->
        <td>${{ product.price }} </td>
         <!-- {% endif %} -->
        <td>{{ product.binding }}</td>
        <td>{{ product.ISBN }}</td>
            <td>
                <a href='{{ site.url }}{{ product.url }}'>Product Page</a>
            </td>
            <!-- end .product -->
    </tr>
</table>
{% endfor %}