
@mixin linear-gradient-home {
    background-color: transparent;
    background-image: -webkit-linear-gradient(bottom right, transparent, transparent, $blue);
    background-image: linear-gradient( top right, transparent, transparent, $blue);
}

@mixin linear-gradient-grid {
    background-color: red;
    background-image: -webkit-linear-gradient(bottom left, $blue, transparent, $white);
    background-image: linear-gradient( top left, $blue, transparent, $white);
}




