@import "list_mixins";

@mixin transition-all {
    transition: all .02s ease-in;
    transition: all .02s ease-out;
}

@mixin background-color-1 {
    background-color: $whitea;
    background: linear-gradient(transparent, $whitea, $white, $white);
}
