*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html,
body {
    margin: 0;
    padding: 0;
    cursor: default;
    background: $grey;
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
     min-width: 100vw;
                        

    html * {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        -ms-box-sizing: border-box !important;
        box-sizing: border-box !important;

    }
}

body * {
   
    margin:0 auto;
    -webkit-transition: .1s ease;
    transition: .1s ease;
    a img {
        &:hover {
            opacity: .7;
             
        }
    }
}
