input{
	height: 50px;
	font-size:120%;
	margin: .5em 0;
	border: 1px solid black;
	font-family:monospace;
	text-decoration:underline;
	
}

textarea{
	height:100px;
	font-size:120%;
	margin: .5em 0;
	padding:2em 0;
		font-family:monospace;
		text-decoration:underline;
		
	
	}

