footer * {
    padding: 5px 0;
}

footer {
    width: 100%;
    background: $black;
    float: left;
    padding: $base-padding 0;
    section {
        padding: $base-padding;
        width: 33.33333vw; 

        text-align: left;
        float: right;
        background:$white;
      
        @media only screen and (max-width: $mobile) {
            width: 50vw;
            border-bottom: 5px solid $yellow;
            padding: 15px;
            &:last-child {
                width: 100vw;
                float: right;
                border-bottom: 2.5px solid $yellow;
            }
        }
        a {
            color: $black;
            width: auto;
        }
        a h6 {
            color: $black;
        }
    }
}

.social-media {
    text-transform: uppercase;
    z-index: 1;
    ul {
        li {
            display: inline-block;
           
        }
    }
    .fa {
        font-size: 100%;
    }
}

#social-media {}
