footer *{

	box-sizing: border-box;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding:1px 0;
}

footer{
	
	width:100%;
	background:$black;
	color:$white;
	display:inline-block;
	float:left;
	    border-top:0px solid $yellow;



	    section{
	    box-sizing: border-box;
	padding:$base-padding;

	    	width: 33.33333vw;
	    	text-align: left;
	    	float:right;
	    	border: 1.75px solid $yellow;
	    	border-top: 0px solid $yellow;
	    	border-bottom: 2.5px solid $yellow;
	    	border-top: 0;


	    	@media only screen and (max-width: $mobile) {
width: 50vw;
	    	border-bottom: 5px solid $yellow;
	    		padding:15px;



&:last-child{
	width:100vw;
	float:right;
		    	border-bottom: 2.5px solid $yellow;


  }

	    }




	    a {

	    		color:$white;
	    		width: auto;
	    		








	    }

	    a h6{
	    			color: $white;

	    		}
}

  
}

.social-media{

  	    			  text-transform: uppercase;


  z-index: 1;
ul{

	li{

		  display: inline-block;

	}
}
.fa{
		
  font-size: 100%;


}



}


 #social-media{


	    }
