header {
    @include grid-container;
    	margin:2em 0 4em;

img#logo{

	        @include grid-column(1);


}

    #header-content-left {
        @include grid-collapse;
        @include grid-column(10);
        @include grid-shift(0);
        h1 {
            font-size: 90%;
        }

        h5{
        	font-weight: 400;
        }


    }

     #header-content-right{
              

         @include grid-column(4);
                  @include grid-push(8);
        position:absolute;

        text-align: right;
     }


}


////////////////////////////////////////

            //  800  //

///////////////////////////////////////




@media (max-width: 800px) {

    header {
    @include grid-container;
        margin:2em 0 4em;

img#logo{

            @include grid-column(2);


}

    #header-content-left {
        @include grid-collapse;
        @include grid-column(10);
        @include grid-shift(0);
        h1 {
            font-size: 90%;
        }

        h5{
            font-weight: 400;
        }


    }

     #header-content-right{
              

         @include grid-column(4);
         @include grid-push(8);
        text-align: right;
        position:absolute;
     }


}

}



////////////////////////////////////////

    //  670  //

///////////////////////////////////////




@media (max-width: 670px) {

     header {
    @include grid-container;
        margin:2em 0 0em;

img#logo{

            @include grid-column(2);


}

    #header-content-left {
        @include grid-collapse;
        @include grid-column(12);
        @include grid-shift(0);
        h1 {
            font-size: 90%;
        }

        h5{
            font-weight: 400;
        }


    }

     #header-content-right{
              

         @include grid-column(4);
         @include grid-push(8);
        text-align: right;
        position:absolute;
     }


}

}



////////////////////////////////////////

    //  470  //

///////////////////////////////////////




@media (max-width: 470px) {

     header {
    @include grid-container;
        margin:1em 0 0;

img#logo{

            @include grid-column(4);


}

    #header-content-left {
        @include grid-collapse;
        @include grid-column(12);
        @include grid-push(0);
        h1 {
            font-size: 90%;
        }

        h5{
            font-weight: 400;
        }


    }

     #header-content-right{
              

         @include grid-column(4);
         @include grid-push(8);
        text-align: right;
        position:absolute;
     }


}

}





 ////////////////////////////////////////

    //  >1800  //

///////////////////////////////////////




@media (min-width: 1800px) {


  header {
    @include grid-container;
      margin:2em 0 4em;
                  font-size: 160%;


img#logo{

          @include grid-column(1);


}

    #header-content-left {
        @include grid-collapse;
        @include grid-column(10);
        @include grid-shift(0);
        h1 {
            font-size: 90%;
        }

        h5{
          font-weight: 400;
        }


    }

     #header-content-right{
              

         @include grid-column(4);
                  @include grid-push(8);
        position:absolute;

        text-align: right;
     }


}



}

