

section#products{
	width:100vw;

//float:left;
  box-sizing: border-box;
   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;



.grid {


float:left;
  box-sizing: border-box;
   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  width:100vw;


ul{

  li{

    position:relative;
  box-sizing: border-box;
   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

float:left;
    width: 20vw;
    height: 20vw;
background:$blue;


border-top:0px solid $yellow;
border-left:1.75px solid $yellow;
border-right:1.75px solid $yellow;
border-bottom:2.5px solid $yellow;
display:inline-block;  
background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 60%;
  -moz-background-size: 60%;
  -o-background-size: 60%;
  background-size: 60%;
&.sold-out:hover{

    background:$black;
    display:inline-block;  background-repeat: no-repeat;

    background-position: center;
  -webkit-background-size: 60%;
  -moz-background-size: 60%;
  -o-background-size: 60%;
  background-size: 60%;
  cursor: not-allowed;



  }

  .sold-out{


  background:$red;
  position:absolute;
  top:50px;
  left:30px;
  height:8vw;
  width: 8vw;
border-radius:100px;
z-index:1;
//box-shadow:$shadow;
opacity:.9;
-ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
    text-align: center;
vertical-align: middle;
line-height: 8vw;


@media only screen and (max-width: $tablet) {
      height:12vw;
  width: 12vw;
   line-height: 12vw;



    }


    @media only screen and (max-width: $mobile) {
      height:20vw;
  width: 20vw;
   line-height: 20vw;
     top:10px;
     left:10px;



    }



h4{
    color: $white;

     &:hover{
          font-size: 101%;


     }

}
}

  }
  }


.grid-item {





  

	

       



  	 
    @media only screen and (max-width: $tablet) {
        width: 33.33333vw;
    height: 33.33333vw;

    }
    @media only screen and (max-width: $mobile) {
      width: 50vw;
    height: 50vw;

    }
   
    

    .grid-item-text {
        font-size: 130%;
	opacity:0;
                  font-style: italic; 

box-sizing: border-box;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
padding:2vw ;
 width: 20vw;
    height: 20vw;
             filter:drop-shadow($box-shadow);

    background:$white;
    color:$white;
       

    @media only screen and (max-width: $tablet) {
        width: 33.33333vw;
    height: 33.33333vw;
    font-size: 150%;

    }

@media only screen and (max-width: $mobile) {
      width: 50vw;
    height: 50vw;
	padding:2vw 3vw 2vw 2vw;


    font-size: 100%;

    }



        h4 {
            font-weight: 700;
                background:$black;
                padding:  .5em;
                    color:$white;


        }
    }
    h5 {
        font-size: 70%;
        margin-top: .5em;
            background:$black;
            padding:  .5em;
                color:$white;


    }
    h6 {
        font-weight: 300;
        margin-top: .5em;
            background:$black;
            padding:  .5em;
                color:$white;


    }

   
}

}

}






///////////////////////////////////////////////////    

	// hover states 

//////////////////////////////////////////////////  


#products{



.grid {
 


.grid-item:hover{


	background:$grey;
	 background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 60%;
  -moz-background-size: 60%;
  -o-background-size: 60%;
  background-size: 60%;

   -webkit-filter: saturate(1); /* Safari 6.0 - 9.0 */
    filter: saturate(1);

     @media only screen and (max-width: $mobile) {

        background:$blue;
        background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 60%;
  -moz-background-size: 60%;
  -o-background-size: 60%;
  background-size: 60%;



     }

	



	

.grid-item-text:hover{

  		opacity:1;
	    @include linear-gradient-home;
        -webkit-transition:  .1s ease;
    transition:  .1s ease;








}

}

}


}

