main {
    @include grid-container;

     #home{

@include grid-column(10);
@include grid-shift(1);
margin-top:1em;





#grid{

	margin-top:2em;
	@include grid-column(11);
	@include grid-shift(.5);


}

.grid-item{




	@include grid-column(3);




	img{
		width: 100%;
				width: 90%;
	}

	.grid-item-text{

		
		
		margin: 0em 0;
		font-size: 80%;
		width: 90%;
		font-size: 90%;
		background: white;
		

	}

	

}

}
}




////////////////////////////////////////

	//  960  //

///////////////////////////////////////



@media (max-width: 960px) {
  main {
    @include grid-container;

     #home{

@include grid-column(10);
@include grid-shift(1);
margin-top:1em;





#grid{

	margin-top:2em;
	@include grid-column(12);
	@include grid-shift(.5);


}

.grid-item{




	@include grid-column(4);




	img{
		width: 100%;
				width: 95%;
	}

	.grid-item-text{

		
		
		margin: 0em 0;
		font-size: 80%;
		width: 95%;
		font-size: 90%;
		background: white;
		

	}

	

}

}
}
}



////////////////////////////////////////

	//  800  //

///////////////////////////////////////



@media (max-width: 800px) {
  main {
    @include grid-container;

     #home{

@include grid-column(10);
@include grid-shift(1);
margin-top:1em;





#grid{

	margin-top:2em;
	@include grid-column(12);
	@include grid-shift(.5);


}

.grid-item{




	@include grid-column(6);




	img{
		width: 100%;
				width: 95%;
	}

	.grid-item-text{

		
		
		margin: 0em 0;
		font-size: 80%;
		width: 95%;
		font-size: 90%;
		background: white;
		

	}

	

}

}
}
}



////////////////////////////////////////

	//  670  //

///////////////////////////////////////




@media (max-width: 670px) {

	 main {
    @include grid-container;

     #home{

@include grid-column(12);
@include grid-shift(0);
margin-top:1em;





#grid{

	margin-top:2em;
	@include grid-column(12);
	@include grid-shift(0);


}

.grid-item{




	@include grid-column(4);

	




	img{
		width: 100%;
				
	}

	.grid-item-text{

		
		
		margin: 0em 0;
		font-size: 80%;
		width: 100%;
		font-size: 100%;
		background: white;
		

	}

	

}

}
}
}


////////////////////////////////////////

	//  470  //

///////////////////////////////////////




@media (max-width: 470px) {

	 main {
    @include grid-container;

     #home{

@include grid-column(12);
@include grid-shift(0);
margin-top:1em;





#grid{

	margin-top:2em;
	@include grid-column(12);
	@include grid-shift(0);


}

.grid-item{




	@include grid-column(12);

	
	
	



	img{
		width: 100%;
				
	}

	.grid-item-text{

		
		
		margin: 0em 0;
		font-size: 80%;
		width: 100%;
		font-size: 100%;
		background: white;
		

	}

	

}

}
}
}