nav{
  z-index: 1;
    left:0;
   margin-left:-15px;
   
       margin-top: -13px;

 
 
       

  
 

  ul{

    li{

      display: inline-block;
      
      margin-right: 15px;
      padding: 0 15px ;
      text-transform: uppercase;

 
    }
  }

a{
color:$white;
}
}





nav.shrink{
   margin-top: -13px;



}