

section#product {
    background-color: $grey;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
      padding: $base-padding*2 $base-padding ;
      width: 100vw;
    #product-page-main {
        background-color: $grey;
        float: left;
        position: relative;
        
        @media only screen and (max-width: $tablet) {
         
            padding: 15px;
        }
        .button-container {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            text-align: center;
            float: left;
            width:20vw;
            @media only screen and (max-width: $tablet) {
               
            }
            .featured_image {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
           
                width: 100%;
                @include background-product-image;
                box-shadow: $header-shadow;
            }
        }
        .sold-out {
            background: $red;
            position: absolute;
            top: 50px;
            left: 25px;
            height: 8vw;
            width: 8vw;
            border-radius: 100px;
            z-index: 1;
            //box-shadow:$shadow;
            opacity: .9;
            -ms-transform: rotate(-30deg);
            /* IE 9 */
            -webkit-transform: rotate(-30deg);
            /* Chrome, Safari, Opera */
            transform: rotate(-30deg);
            text-align: center;
            vertical-align: middle;
            line-height: 8vw;
            @media only screen and (max-width: $tablet) {
                height: 12vw;
                width: 12vw;
                line-height: 12vw;
            }
            @media only screen and (max-width: $mobile) {
                height: 20vw;
                width: 20vw;
                line-height: 20vw;
                top: 10px;
                left: 10px;
            }
            h4 {
                color: $white;
                &:hover {
                    font-size: 101%;
                }
            }
        }
    }



    #product-details {
       
	
       
       width: 50vw;
       float: right;
       padding:0 $base-padding;
        
    }
    h2.title {
        font-size: 250%;
        line-height: 1;
        font-style: italic;
        

    }
    h3.author {
        font-style: italic;
        font-size: 100%;
        border-bottom: 1px solid $black;
        line-height: 2;
         width: auto;
    }
    h5 {font-weight: 700;
        &.publisher {
            font-style: italic;
            position: relative;
            float: right;
            text-align: right;
          
            
        }
        &.isbn {
            
          width: auto;
           
           
        }
    }
    .description {
     //  background:red;
       padding: $base-padding 0 0;



      



       
    }

   
}

p.type {
    text-align: center;
    font-weight: 400;
}


 #thumbnail-gallery {
   
    
    float: right;
   width: auto;
    padding: $base-padding 0;
     @media only screen and (max-width: $tablet){
     	padding:0;
     	    margin: 25px 0;
     	      
     	        float: right;
     	        position:absolute;



     }
    h5 {
        font-size: 70%;
        font-weight: 100;
        padding-bottom:  $base-padding/4;
        text-decoration: underline;
    }
    ul {
        li {
           
            display: inline-block;
            width: 32.6%;

            background: #f4f2f2;
           
            @media only screen and (max-width: $tablet){
	  width: 13%;
            height: 13%;
            }
            a img {
                width: 100%;
            }
        }
    }
}


 #product-page-aside, #thumbnail-gallery{
    width: 25.8vw;
  
      
   float: right;
    @media only screen and (max-width: $tablet){
    	    width: auto;
    	    float: left;
    	   padding: $base-padding/4;


    }
    h2 {
        font-style: italic;
        border-bottom: 1px solid $black;
        margin:0 0 $base-padding/2 0
        
    }
    ul.condition {
        h4 {
            font-size: 100%;
            font-weight: 700;
            span {
                color: $red;
            }
        }
    }
    
}
