.share-page {
		position:absolute;
 	 	bottom:25px;
 	 	margin-bottom:3px;
 	 	font-weight: 700;
 	 	width: 45vw;
	
	

	h5, a{

			font-size:70%;


	}

	//width:200px;

	h5{

		margin-bottom:1em;
	}


	a{

	font-size:70%;
	margin:0 5px 0  0;
}

}