.snipcart-summary{
  z-index: 100;
  
  
  text-align: right;
font-size:100%;
text-align:right;

@media only screen and (max-width: $tablet) {
top:-15px;
  }


a{
  width: 100%;
    height: 100%;
    display: inline-block;}

  .fa, a, .snipcart-total-items{
    color:$white;

  }



}

.snipcart-summary.shrink{

  

@media only screen and (max-width: $tablet) {

  }




  .fa, a, .snipcart-total-items{
  }


 
}

