{% if page.url == "/" %}
<aside>
        <div class="widget-container">
                {% include components-widgets/widget-snipcart-summary.html %}
                {% include components-widgets/widget-social.html %}
                {% include components-widgets/widget-sitemap.html %}
        </div>
</aside>
{% else %}
<aside>
        <div class="widget-container">
                {% include components-widgets/widget-snipcart-summary.html %}
                {% include components-widgets/widget-social.html %}
                {% include components-widgets/widget-sitemap.html %}
        </div>
</aside>
{% endif %}