  
</main>
<footer>
    <div class="footer-content">
        <h4>{{site.title}}<br>
        {{site.description}}</h4> 
        <p>built and maintained by <a href="{{site.authorURL}}"> {{site.author}}</a><br>
        &copy; 2018 - {{ site.time | date: '%Y' }}</p>
        {% include components-menus/navPayments.html %}
    </div>

<div class="contact">
    <a href="mailto:hello@aaaahhhhh.com" aria-label="Contact Four A' Five H's"><i class="fa fa-envelope" aria-hidden="true"></i>
</a>
</div>
</footer>
{% include javascript.html %}
</body>
</html>