






</main>


<footer>

<div id="footer-content">
<hr>
<a href="http://www.discoform.com"> 
           
<h6>built &amp; maintained by discoform {{ 'now' | date: "%Y" }}</h6>
<h6>Minneapolis Minnesota</h6>          
        </a>  
<hr>
 <h6>follow</h6>

        {% include social-media.html %}

<ul id="a-h" class="six columns">
  <li id="a1-1" class="fourafiveh">aaaa</li>
  <li id="a1-2" class="fourafiveh">aaaa</li>
  <li id="a1-3" class="fourafiveh">aaaa</li>
  <li id="a1-4" class="fourafiveh">aaaa</li>
</ul>   <!-- end a-h -->
<ul id="h-a" class="six columns">
  <li id="h1-1" class="fourafiveh">hhhhh</li>
  <li id="h1-2" class="fourafiveh">hhhhh</li>
  <li id="h1-3" class="fourafiveh">hhhhh</li>
  <li id="h1-4" class="fourafiveh">hhhhh</li>
  <li id="h1-5" class="fourafiveh">hhhhh</li> 
</ul>   <!-- end h-a -->

</div>  <!-- end footer-content -->

</footer>






{% include javascript.html %}
