<section id="products">

	<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 1 }'>
	  {% for product in site.products %}

	  <ul>
	  <li>
		<a  href="{{ product.url }}">	
			<div class="grid-item element-item {{ product.category }}"  style="background-image:  url(../assets/product-images/{{ product.featured_image}}.jpg);">
			{% if product.quantity < 1 %}<div class="sold-out"><h4>sold</h4></div>{% else %}

						<div class="grid-item-text">
							<h4>{{ product.title }}</h4>
							<h5>{{ product.author }}</h5>
							{% if product.quantity < 1 %}<h4>sold out</h4>{% else %}
							<h6>(${{ product.price }}) +Shipping</h6>{% endif %}
						</div>
						{% endif %}
			</div>  <!-- end grid item -->
		</a>
</li>
		</ul>

		 {% endfor %}


	</div>  <!-- end grid -->
</section>