<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>{{site.title}} | {{ page.title }}</title>
<meta name="description" content="Issue Points">
<meta name="author" content="Issue Points">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="/assets/logos/favicon.png">
  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ page.url }}" href="/feed.xml">

<!-- fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include fonts.html %}

<!-- Social Media
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{site.twitter_username}}">
<meta name="twitter:creator" content="{{site.twitter_username}}">{% if page.title %}
<meta name="twitter:title" content="{{ page.title }} | {{page.author}}">{% else %}
<meta name="twitter:title" content="{{ site.title }}"> {% endif %}{% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">{% endif %}{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">{% else %}
<meta name="twitter:description" content="{{ site.description }}">{% endif %}{% if page.featured_image %}
<meta name="twitter:image:src" content="{{ site.url }}/assets/product-images/{{page.featured_image}}.jpg">{% else %}
<meta name="twitter:image:src" content="{{ site.url }}/assets/logos/logo.png"> {% endif %}
<meta content="{{ site.title }}" property="og:site_name">{% if page.title %}
<meta content="{{ page.title }} | {{page.author}}" property="og:title">{% else %}
<meta content="{{ site.title }}" property="og:title"> {% endif %}{% if page.title %}
<meta content="article" property="og:type"> {% else %}
<meta content="website" property="og:type">{% endif %}{% if page.description %}
<meta content="{{ page.description }}" property="og:description"> {% else %}
<meta content="{{ site.description }}" property="og:description">{% endif %}{% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.url }}/about/" property="article:author">{% endif %} {% if page.featured_image %}
<meta content="{{ site.url }}/assets/product-images/{{page.featured_image}}.jpg" property="og:image">{% else %}
<meta content="{{ site.url }}{{ site.url }}/assets/logos/logo.png" property="og:image">{% endif %}{% if page.categories %}{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}{% if page.tags %}{% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag">{% endfor %} {% endif %}

<!-- Enable iOS Standalone Mode
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="touch-icon-iphone.png">


<script>


var $grid = $('.grid').imagesLoaded( function() {
  // init Masonry after all images have loaded
  $grid.masonry({
    // options...
  });
});

</script>

<script>
	
function openWin() {
    myWindow = window.open("", "", "width=100, height=100");  // Opens a new window
}

function resizeWin() {
    myWindow.resizeTo(250, 250);                             // Resizes the new window
    myWindow.focus();                                        // Sets focus to the new window
}


</script>

</head>

