
<!-- <script src="/js/imagesLoaded.pkgd.min.js"></script>
 -->
<!-- <script src="/js/imagesLoaded.js"></script> -->

<!-- <script src="/js/masonry.pkgd.min.js"></script> -->

<script src="/js/isotope.js"></script>

<script src="/js/acronym.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MGU4ZGQ1YjItZWU3Ni00OTkwLWE0NzMtMmZhYWVjZjIxODc5NjM2MjgzOTM4OTY3MjkwNjE3"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />


<script>
  
  $(document).scroll(function() {
  if ($(this).scrollTop() > 10) { //Adjust 150
    $('header').addClass('shrink');
  } else {
    $('header').removeClass('shrink');
  }
});
</script>

<script>
  
  $(document).scroll(function() {
  if ($(this).scrollTop() > 10) { //Adjust 150
    $('nav').addClass('shrink');
  } else {
    $('nav').removeClass('shrink');
  }
});
</script>

<script>
  
  $(document).scroll(function() {
  if ($(this).scrollTop() > 10) { //Adjust 150
    $('.snipcart-summary').addClass('shrink');
  } else {
    $('.snipcart-summary').removeClass('shrink');
  }
});
</script>

