<!-- fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,400,900" rel="stylesheet">

<!-- masonry and isotope
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

<script src="/js/imagesLoaded.pkgd.min.js"></script>

<script src="/js/imagesLoaded.js"></script>

<script src="/js/masonry.pkgd.min.js"></script>

<script src="/js/isotope.js"></script>

<link href="/fancybox/dist/jquery.fancybox.css" rel="stylesheet">
<script src="/fancybox/dist/jquery.fancybox.min.js"></script>