<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <!-- Modernizr -->
    <script src="{{site.url}}/js/min/modernizr-min.js"></script>
<!-- main.js -->
<!-- fonts –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Remote Fonts -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Open+Sans:400" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script>
    Snipcart.execute('config', 'show_continue_shopping', true);
</script>
<script>
    window.addEventListener('load', function () {
        var allimages = document.getElementsByTagName('img');
        for (var i = 0; i < allimages.length; i++) {
            if (allimages[i].getAttribute('data-src')) {
                allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
            }
        }
    }, false)
</script>
