<aside id="aside-1">
	
<h6 class="type">Article Type</h6>

</aside>

<section>


<div id="product">



<img class="featured_image" src="{{page.featured_image}}" alt="image of {{page.title}}">

<h2 class="title">{{page.title}}</h2>


<h5 class="publisher">{{page.publisher}} ({{page.publicationDate}})</h5>

<h5 class="ISBN">ISBN:{{page.ISBN}}</h5>


<p class="description">{{page.description}}</p>

<div id="product-details">
<ul>


<li>{{page.condition}} {{page.binding}} in {{page.binding_condition}} condition</li>

<li>Dust jacket in {{page.dust_jacket_condition}} condition</li>

</ul>
</div>





</div>   <!-- end product -->
</section>


