{% if page.url == "/" %}
<div class="share-buttons">
    <a style="background:#2269a8" aria-label="Share this" rel="noopener noreferrer"href="http://www.digg.com/submit?url={{ site.url }}{{ product.url }}" target="_blank"
        title="Digg share {{ site.title }} / {{ product.title }}"><i class="fab  fa-digg" aria-hidden="true"></i></a>
    <!-- Email -->
    <a style="background:#00110C"
        aria-label="Share this" rel="noopener noreferrer"href="mailto:?Subject={{ site.title }} / {{ product.title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ site.url }}{{ product.url }}"
        title="e-mail {{ site.title }} / {{ product.title }}"><i class="fa  fa-envelope" aria-hidden="true"></i></a>
    <!-- Facebook -->
    <a style="background:#3b5a99" aria-label="Share this" rel="noopener noreferrer"href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ product.url }}"
        target="_blank" title="Facebook share {{ site.title }} / {{ product.title }}"><i class="fab  fa-facebook-square"
            aria-hidden="true"></i></a>
    <!-- Reddit -->
    <a style="background:#ff4509"
        aria-label="Share this" rel="noopener noreferrer"href="http://reddit.com/submit?url={{ site.url }}{{ product.url }}&amp;title={{ site.title }} / {{ product.title }}"
        target="_blank" title="Reddit share {{ site.title }} / {{ product.title }}"><i class="fab  fa-reddit-square"
            aria-hidden="true"></i></a>
    <!-- Tumblr-->
    <a style="background:#36465c"
        aria-label="Share this" rel="noopener noreferrer"href="http://www.tumblr.com/share/link?url={{ site.url }}{{ product.url }}&amp;title={{ site.title }} / {{ product.title }}"
        target="_blank" title="Tumblr share {{ site.title }} / {{ product.title }}"><i class="fab  fa-tumblr-square"
            aria-hidden="true"></i></a>
    <!-- Twitter -->
    <a style="background:#1ea1f2"
        aria-label="Share this" rel="noopener noreferrer"href="https://twitter.com/share?url={{ site.url }}{{ product.url }}&amp;text={{ site.title }} / {{ product.title }}"
        target="_blank" title="Twitter share {{ site.title }} / {{ product.title }}"><i class="fab  fa-twitter-square"
            aria-hidden="true"></i></a>
    <!-- end #share-buttons -->
</div>
{% else %}
<section>
    <h3>Share</h3>
    <div class="share-buttons">
        <a style="background:#2269a8" aria-label="Share this" rel="noopener noreferrer"href="http://www.digg.com/submit?url={{ site.url }}{{ page.url }}" target="_blank"
            title="Digg share {{ site.title }} / {{ page.title }}">
            <i class="fab b fa-digg" aria-hidden="true" style="background:#2269a8"></i>
        </a>
        <!-- Email -->
        <a style="background:#00110C"
            aria-label="Share this" rel="noopener noreferrer"href="mailto:?Subject={{ site.title }} / {{ page.title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ site.url }}{{ page.url }}"
            title="e-mail {{ site.title }} / {{ page.title }}">
            <i class="fa  fa-envelope" aria-hidden="true" style="background:#00110C"></i>
        </a>
        <!-- Facebook -->
        <a style="background:#3b5a99" aria-label="Share this" rel="noopener noreferrer"href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
            target="_blank" title="Facebook share {{ site.title }} / {{ page.title }}">
            <i class="fab b fa-facebook" aria-hidden="true" style="background:#3b5a99"></i>
        </a>
        <!-- Reddit -->
        <a style="background:#ff4509"
            aria-label="Share this" rel="noopener noreferrer"href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ site.title }} / {{ page.title }}"
            target="_blank" title="Reddit share {{ site.title }} / {{ page.title }}">
            <i class="fab b fa-reddit-square" aria-hidden="true"></i>
        </a>
        <!-- Tumblr-->
        <a style="background:#36465c"
            aria-label="Share this" rel="noopener noreferrer"href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&amp;title={{ site.title }} / {{ page.title }}"
            target="_blank" title="Tumblr share {{ site.title }} / {{ page.title }}">
            <i class="fab b fa-tumblr-square" aria-hidden="true"></i>
        </a>
        <!-- Twitter -->
        <a style="background:#1ea1f2"
            aria-label="Share this" rel="noopener noreferrer"href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ site.title }} / {{ page.title }}"
            target="_blank" title="Twitter share {{ site.title }} / {{ page.title }} ">
            <i class="fab b fa-twitter-square" aria-hidden="true"></i>
        </a>
        <!-- end #share-buttons -->
    </div>
</section>
{% endif %}