.page-full-error {
    display: flex;
    float: left;
    width: 100vw;
    padding: 35px;
    color: $black;
    margin: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;

    .billboard {
        width: 25vw;
        height: 100%;
    }
}





#sorry {
    text-align: left;
    text-decoration: underline;
    color: $black;
}

.page-full-error small {
    text-align: left;
    color: $black;
    text-decoration: underline;
}

span#error,
#about-content  {
    position: relative;
    padding: $base-spacing;
    color: $black;
   
    display: flex;
   
    font-size: 5em;

    #square-1 {
        position: absolute;
        width: 30px;
        height: 30px;
        background: $black;
        left: 10px;
        top: 10px;
        animation: blinker .5s linear infinite;

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
    }
}
