main {
    max-width: $max-width;
    margin: auto;
    padding-top:$base-spacing*2;
    section {
        margin: $base-spacing auto;
    }

    .the-content {
       @include flex-container;

     
    }
}

