main {
    max-width: $max-width;
    margin: auto;

    section {
        margin: $base-spacing auto;

        h1 {
            width: 100%;
            float: left;
            padding: $base-spacing;
        }
    }

    .the-content {
        @include flex-container;
    }
}
