section.single-product {
    display: flex;
    min-height: 50vh;
    position: relative;
    max-width: 1200px;

    .product {
        padding: $base-spacing;
        margin: auto;
        border-bottom: 1px solid $grey;

        h2 {
            margin-bottom: $base-spacing;
        }

        .image-and-button {
            @include flex-content-4;

            float: left;

            img {
                max-width: 200px;
                margin: 0;
                box-shadow: $shadow;
            }

            margin: ($base-spacing / 2) auto ($base-spacing / 2);

            @media (max-width: $small) {
                box-shadow: none;
                padding: 0;
            }

        }

        .title {
            @include flex-content-2;
        }

        .description {
            float: left;
            padding: $base-spacing 0;

            ul {
                margin: $base-spacing 0;
            }
        }
    }
}
