section.single-product {
    max-width: $max-width;
    display: flex;

    .product {
        margin: auto;
        padding: $base-spacing;
        position: relative;

        .image-and-button {
            width: calc(100%/5);
            float: left;

            img {
                box-shadow: $shadow;
            }

            @media (max-width: $medium) {
                width: calc(100%/3);
            }

            @media (max-width: $small) {
                width: calc(100%);

                img {
                    max-width: 150px;
                }
            }
        }

        .title {
            width: calc(100%/2);
            float: left;
            padding: $base-spacing $base-spacing $base-spacing ($base-spacing * 4);

            @media (max-width: $medium) {
                width: calc(100%/2);
                padding: $base-spacing/2 0 $base-spacing ($base-spacing*2 );
            }

            @media (max-width: $small) {
                width: calc(100%);
                padding: $base-spacing 0;

               
            }
        }

        .description {
            width: 100%;
            float: left;
            padding: $base-spacing 0;
        }

        #share-buttons {
            width: 100%;
            float: left;
            padding: $base-spacing / 4;
        }
    }
}
