section.gallery {
    display: flex; /* or inline-flex */

    .product {
        position: relative;
        width: calc(100%/3);
        padding: $base-spacing * 2;

        @media (max-width: $medium) {
            width: calc(100%/2); /* Or whatever */
        }

        @media (max-width: $small) {
            width: calc(100%); /* Or whatever */
            padding: $base-spacing;
        }

        background: white;
        border: 3px solid $white;
        padding-bottom: 200px;

        .buy-and-share {
            position: absolute;
            bottom: $base-spacing;

            @media (max-width: $medium) {
                position: inherit;
                margin: 0 $base-spacing 0 0;
                padding-bottom: $base-spacing;
            }
        }

        a h2 {
            text-decoration: underline;
        }

        .product-description {
            width: 100%;
            float: left;
        }

        figure {
            max-width: 200px;
            float: left;

            //padding: ($base-spacing / 2)  $base-spacing $base-spacing ;
            margin: 0 auto ($base-spacing / 2);

            @media (max-width: $small) {
                max-width: 100px;
                margin: 0 $base-spacing 0 0;
            }

            img {
                margin: 0 $base-spacing ($base-spacing / 2) 0;
                max-width: 175px;
                float: left;
                box-shadow: $shadow;
            }
        }
    }
}
