section.single-product {
    max-width: $max-width;
    display: flex;

    @media (min-width: $desktop) {
        margin: auto;
    }

    .product {
        padding: ($base-spacing / 2) $base-spacing;
        position: relative;

        @media (min-width: $desktop) {
            border: 2px solid $black;
        }

        .image-and-button {
            width: calc(100%);
            float: left;

            @media (min-width: $medium) {
                width: calc(25%);
                margin-left: $base-spacing / 1.75;
                transform: rotate(0deg);
                float: left;
            }

            img {
                box-shadow: (-$base-spacing / 2) ($base-spacing / 2) 0px $black;
                width: calc(50%);
                margin: ($base-spacing * 2) 0 ($base-spacing * 2) 25vw;
                transform: rotate(30deg);

                @media (min-width: $medium) {
                    width: calc(100%);
                    margin: $base-spacing 0;
                    transform: rotate(0deg);
                }
            }
        }

        .title {
            width: calc(100%);
            float: left;
            padding: ($base-spacing * 2) 0 0;

            @media (min-width: $medium) {
                width: calc(68%);
                padding: $base-spacing;
                float: right;
            }
        }

        button.pure-button {
            width: 100%;

            @media (min-width: $medium) {
                width: calc(50%);
            }
        }

        .description {
            width: 100%;
            float: left;
            padding: $base-spacing 0;
        }

        #share-buttons {
            width: 100%;
            float: left;
            padding: $base-spacing 0;
        }

        iframe {
            background: $brand;
        }

        .product-gallery {
            margin: ($base-spacing / 2) auto;
            background: $brand;

            @media (min-width: $large) {
                margin-top: $base-spacing;
            }

            img {
                width: 100%;
                margin: ($base-spacing / 2) 0;
                float: left;
               // box-shadow:0 0  10px $black;

                @media (min-width: $medium) {
                    width: calc(52% - #{$base-spacing * 2});
                    margin: $base-spacing;

                    &:nth-child(odd) {
                        margin-left: 0;
                    }

                    &:nth-child(even) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
