@mixin flex-content-3 {
    position: relative;
    padding: $base-spacing ($base-spacing / 2);

    @media (min-width: $small) {
        width: calc(90%); /* Or whatever */
        padding: $base-spacing;
        margin: $base-spacing auto;
    }

    @media (min-width: $medium) {
        width: calc(96%/2); /* Or whatever */
    }

    @media (min-width: $large) {
        margin: ($base-spacing / 2) auto;
    }

    @media (min-width: $desktop) {
        width: calc(95%/3); /* Or whatever */
    }

    .buy-and-share {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: $base-spacing;

        button {
            margin: ($base-spacing / 4) 0;

            @media (min-width: $small) {
                width: 49%;
                margin: ($base-spacing / 2) 0;
            }
        }
    }
}

//////////////////////////////////////////////////////////////
///////////////////////////////
///////////////////////////////
///////////////////////////////

section.gallery {
    @include flex-container;

    .product {
        @include flex-content-3;

        hr {
            border: 1px solid $grey;
        }

        background: white;
    }
}


