nav#social {
    padding: $base-spacing / 2;

    .fa , .fab{
        font-size: 1.15em;
    }
}

footer {
    nav#social {
        @include inline-list-centered;
    }
}

ul.icons {
    font-size: 2em;
    color: inherit;
    margin: $base-spacing 0;

    li  {
        margin-right: $base-spacing / 2;
        display: inline;

        a{ color: $grey;
    
    }

        &:hover {
            color: $brand;
        }
    }
}
