header {
    @include flex-container;
    min-height: 10vh;
    padding: $base-spacing*4 $base-spacing $base-spacing*2;
    background: $brand;

    @media (min-width: $medium) {
        min-height: 20vh;
        background: transparent;

    }

    .hero {
        margin: auto;
        text-align: center;
        width: 100%;

        @media (min-width: $medium) {
            margin: auto;
            padding: $base-spacing;
            width: auto;
        }
    }
}

.logo {
    width: $base-spacing * 3;
    z-index: 1000;
    top: 0;
    left: $base-spacing / 2;
    position: absolute;

    @media (min-width: $desktop) {
        position: fixed;
        width: $base-spacing * 3;
    }
}