button.pure-button {
    width: 100%;
    border: 2px solid $black;
    text-transform: uppercase;
    text-align: center;
    font-family: $body;
    position: relative;
    transition: background-color 0.25s ease;

    .fa {
        position: absolute;
        left: 2px;
        top: 2px;
        padding: ($base-spacing / 1.15) ($base-spacing / 1.15);
        background: $brand;
        color: $black;
    }

    &:hover{
        background: $brand;

    }
}
