.share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: 22px;        padding: $base-spacing 0 0;


    a{
        margin:0;
        text-align: center;
        color:$white;;
        flex-grow: 1;
        padding: $base-spacing/4 0;

    }

   
}
