body {
    @media (min-width: $small) {

        background: $grey;
    }
}

main {
    max-width: $max-width-main;
    margin: auto;
    padding: ($base-spacing * 2) ($base-spacing / 2) 0;

    @media (min-width: $small) {
        padding: ($base-spacing * 2) ($base-spacing) 0;
    }

    @media (min-width: $medium) {
        padding: ($base-spacing * 2.5) ($base-spacing * 2.5);
    }



    .the-content {

        &.gallery {
            @include flex-container;

        }
        margin-bottom: ($base-spacing );


        @media (min-width: $small) {
            width: auto;
            margin: auto;


        }

        @media (min-width: $large) {

            max-width: calc(100% - 300px - 1rem);
            margin-bottom: ($base-spacing * 2);

            &.has-sidebar {
                float: left;
                margin-bottom: ($base-spacing * 2);

            }
        }
    }
}