@mixin flex-content-3 {
    position: relative;
    width: 100%;
    padding: $base-spacing;
    margin: auto 0 $base-spacing/2;
    box-shadow: $shadow;

    @media (min-width: $medium) {

        width: calc(50% - .5rem);
        /* Or whatever */
    }

    @media (min-width: $large) {
        width: calc(50% - .5rem);
        /* Or whatever */
    }

    @media (min-width: $kick) {
        width: calc(33% - .5rem);
        /* Or whatever */
    }

   
}

//////////////////////////////////////////////////////////////

section.gallery {

    .product {
        @include flex-content-3;
        padding-bottom: $base-spacing * 1.5;

        @media (min-width: $small) {
            background: white;
            padding-bottom: $base-spacing  ;
            margin-top: 0;
            margin-bottom: $base-spacing;

        }

    }
}