

{% include head.html %}
{% include header.html %}





<div class="container">
<div class="page-full-error billboard">
<a href="/" class="message"><span id="sorry">sorry,</span>
<span id="error" style="background-color: orange">error 404</span>
<small style="text-decoration:underline">this page doesn't exist<br>
<small>you're not really here<br>
<small>you can go now<br>
<small>bye</small></small></small></small>
</a>
</div> <!-- end page-full-error -->
</div> <!-- end container -->




{% include footer.html %}

