{% include head.html %}
{% include header.html %}


{% include aside-1.html %}





<div id="about" >

<h1>What's this About?</h1>
<hr>



<h3>FOUR A'<sup><sub>S</sub></sup> FIVE H'<sup><sub>S</sub></sup> began as an esoteric approach to the process of branding a product or service.</h3>
<p>There was no specific need for the brand, the excercise was to simply create the identity and then wait and see what happened with it.
</p>
<hr>
<h3>I began with registering a domain name</h3>
<p>Registering a new domain is a great way to excercise feelings of disappoinment and frustration. All the good names have been registered, and it seems like very few of these premium URLs are being put to any use other than to store, sell, and hoard a commodity.</p>
<p>I met this challenge by relieving myself of any expectations, closing my eyes, and mashing a few keys on my laptop to see what would come of it <a href="https://en.wikipedia.org/wiki/John_Cage">(thank you John Cage). </a></p>
<p>The results delivered by this primitive approach was rubbish, but it was rubbish I could sort through and organize.</p>
<hr>
<h3>AAAAHHHHH.com</h3>
<p>After some editing and rearranging of letters, I finally landed on a concept that was amusing enough to hold my interest, and easy to spell out to anyone who might ask <em>&ldquo;hey, what's yr website again?&rdquo; </em></p>
<p>If treated as an acronym the meaning could be just about anything.</p>


<hr>
<h3>Now, what's it for?</h3>
<p>This question took months to answer, with a few false starts along the way.</p>
<p> For a short while it was a dev sandbox for javascript experiments, then it was a blog, and now I think it's found its permanent place in the world as a simple shop for customers of not so simple tastes.</p>
<hr>
<h3>Books on Design, new &amp; used</h3>
<p>I have books. Not as many as I used to have, but enough. A few of these books are design related and have duplicate content. Some of these books with duplicate content are for sale, so here is where I sell them. What do I do with all the money I make by selling these books? I go deeper. I buy more books. That's what happens when you like books...</p>
<hr>
<h3>On the build of the site itself</h3>
<p><a href="http://discoform.com">I am a web designer</a>. I built the FOUR A'<sup><sub>S</sub></sup> FIVE H'<sup><sub>S</sub></sup> website using a text editor called Sublime 3, the Neat 2.0 grid system by Thoughtbot, a scripting language called SASS, a Javascript built shopping cart system by SnipCart, web hosting and version control through GitHub, hosted on an open source CDN called Netlify.</p>


</div>  <!-- end home -->



{% include footer.html %}



