{% include components-base/head.html %}
{% include components-base/header.html %}
<section class="the-content">
    <h1 class="page-header">{{page.title}}</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, dicta minus? Blanditiis quis dolore dolores
        dignissimos!
        Mollitia accusantium porro voluptates ducimus error perspiciatis voluptatibus impedit exercitationem incidunt
        hic? Atque, dolorem.</p>
    <h2>Payments and Shipping</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, dicta minus? Blanditiis quis dolore dolores
        dignissimos!
        Mollitia accusantium porro voluptates ducimus error perspiciatis voluptatibus impedit exercitationem incidunt
        hic? Atque, dolorem.
    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, dicta minus? Blanditiis quis dolore dolores
        dignissimos!
        Mollitia accusantium porro voluptates ducimus error perspiciatis voluptatibus impedit exercitationem incidunt
        hic? Atque, dolorem.
    </p>
</section>
{% include components-base/footer.html %}