{% include components-base/head.html %}
<div class="logo">
    <a href="{{site.url}}">
        <img src="{{" /assets/logos/logo.svg " | prepend: site.url }}" alt="logo for {{site.title}}">
    </a>
</div>
<div class="page-full-error ">
    <div class="billboard">
        {% include components-product/product-page-header.html %}
        <h1>{{page.title}}</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, dicta minus? Blanditiis quis dolore dolores dignissimos!
            Mollitia accusantium porro voluptates ducimus error perspiciatis voluptatibus impedit exercitationem incidunt
            hic? Atque, dolorem.</p>
        <h2>Payments and Shipping</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, dicta minus? Blanditiis quis dolore dolores dignissimos!
            Mollitia accusantium porro voluptates ducimus error perspiciatis voluptatibus impedit exercitationem incidunt
            hic? Atque, dolorem.
        </p>
        <h2></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, dicta minus? Blanditiis quis dolore dolores dignissimos!
            Mollitia accusantium porro voluptates ducimus error perspiciatis voluptatibus impedit exercitationem incidunt
            hic? Atque, dolorem.
        </p>
    </div>
</div>
{% include components-base/footer.html %}