{% include head.html %}
{% include header.html %}
{% include aside-1.html %}

<div id="contact" >
<section>
<div class="contact-form">
<h2>Contact</h2>

<script language="JavaScript">
var frmvalidator  = new Validator("contactform");
frmvalidator.addValidation("name","req","Please provide your name");
frmvalidator.addValidation("email","req","Please provide your email");
frmvalidator.addValidation("email","email",
"Please enter a valid email address");
</script>

<h4>Do you have Questions or concerns about your order?</h4>
<br>
<h4>Do you have design or graphic arts books to sell or trade?</h4>
<br>

<form method="post" name="contact_form"
action="https://formspree.io/{{ site.email }}">
<input type="hidden" name="_format" value="plain" />
<ul>
<li >
<input type="text" name="name" placeholder="name">
</li>
<li>
<input type="text" name="_replyto" name="email" placeholder="email address">
</li>
<li>
<textarea name="message" placeholder="enter your message "></textarea>
</li>
<li>
<input class="button" type="submit" value="Submit">
</li>

</ul>
</form>   
</div> <!-- end .contact-form -->
</section>
</div>  <!-- end #contact -->

{% include footer.html %}
