{% include head.html %}
<div class="logo">
    <a href="{{site.url}}">
        <img src="{{"/assets/logos/logo.svg" | prepend: site.url }}" alt="logo for {{site.title}}">
    </a>
</div>
<div class="page-full-error ">
    <div class="billboard">
        <a href="/">

            <span id="error">
                <h1 id="sorry">{% include product-page-header.html %}</h1>

            </span>
            <h2 style="text-decoration:underline">this page doesn't exist
                <br>※※※※※※※※※※※※※※※※※※※※※※※※
                <h2 style="text-decoration:underline">you're not really here
                    <br>※※※※※※※※※※※※※※※※※※※※※※※※
                    <h2 style="text-decoration:underline">you didn't see this
                        <h2 style="text-decoration:underline">※※※※※※※※※※※※※※※</h2>
                    </h2>
                </h2>
            </h2>
        </a>
    </div>
</div>
{% include footer.html %}