{% include components-base/head.html %} 
{% include components-base/header.html %}
<section class="the-content">
<a href="/">
    <h2 style="text-decoration:underline">this page doesn't exist
        <br>※※※※※※※※※※※※※※※※※※※※※※※※
        <h2 style="text-decoration:underline">you're not really here
            <br>※※※※※※※※※※※※※※※※※※※※※※※※
            <h2 style="text-decoration:underline">you didn't see this
                <h2 style="text-decoration:underline">※※※※※※※※※※※※※※※</h2>
            </h2>
        </h2>
    </h2>
</a>
</section>
{% include components-base/footer.html %}