{% include head.html %}
{% include header.html %}




<div class="page-full-error billboard">
<a href="/" class="message">
<span id="sorry">sorry,</span>
<span id="error">{{page.title}}
<div id="square-1"></div>
<div id="square-2"></div>
<div id="square-3"></div>
<div id="square-4"></div>
</span>
<small style="text-decoration:underline">this page doesn't exist<br>
<small>you're not really here<br>
<small>you didn't see this<br>
<small>...</small></small></small></small>
</a>

</div> <!-- end page-full-error -->
{% include footer.html %}
