{% include head.html %}
{% include header.html %}


{% include aside-1.html %}




<div id="home" >

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>

  

 {% for post in site.posts %}

<div class="grid-item">

<a  href="{{ post.url }}"><img src="assets/product-images/{{ post.featured_image}}.jpg" alt="{{ post.title }}">
<div class="grid-item-text">
<h4>{{ post.title }}</h4>

<h5>{{ post.author }}</h5>
</div>
</a>

<hr>




</div>  <!-- end grid item -->

  {% endfor %}

</div>  <!-- end grid -->
</div>  <!-- end home -->



{% include footer.html %}



