button.pure-button {
    width: 100%;
    padding: 0 1.5em;
    border: 2px solid $black;
    margin-right: $base-spacing;
    text-transform: uppercase;
    text-align: center;
    font-family: $body;
    padding: $base-spacing / 2;
    margin: 0;
    position: relative;

    .fa {
        position: absolute;
        left: 2px;
        top: 2px;
        padding: ($base-spacing / 1.15) ($base-spacing / 1.15);
        background: $brand;
        color: $black;
    }
}
