footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin: ($base-spacing * 2) auto 0;
    background: $black;
    color: $white;
    padding: $base-spacing*2;

    .footer-content {
      @extend %centered-content;
      padding:0;
      a{
          box-shadow: none;
      }
       
    }

    ul{
        width: 100%;font-size:1.3em;
        margin-top:$base-spacing/2;
        li{display: inline;
padding:$base-spacing/6;
        text-align: left;}
    }
}

