header {
    @include flex-container;

    min-height: auto;
    min-height: 70vh;
    background: $brand;
    

    @media (min-width: $medium) {
        min-height: 50vh;
    }

    .hero {
        padding: $base-spacing / 2;
        background: $brand;
        margin: auto;
        text-align: center;
        width: 100%;

        @media (min-width: $medium) {
            margin: auto;
            padding: $base-spacing;
            background: $whitea;
            width: auto;
        }
    }

    &.product-page-header {
        margin-top: 100px;
        text-align: center;

        @media (min-width: $small) {
            margin: 50px auto;
            min-height: auto;
        }

        h1 {
            display: none;

            @media (min-width: $small) {
                display: inline;
                font-size: 150%;
            }

            @media (min-width: $medium) {
                border: 2px solid $black;
                padding: $base-spacing;
            }
        }
    }
}

.logo {
    width: $base-spacing * 2;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: $base-spacing / 2;
}
