header {
    @include flex-container;
    position: relative;
    min-height: 300px;
    min-height: 50vh;
    background: $brand;
    position: relative;
    text-align: center;

    .hero {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &.product-page-header {
        background: transparent;
        box-shadow: none;
        min-height: 100px;
        text-decoration: underline;
        padding: 0 $base-spacing;
    }

   
}

.logo {
    width: $base-spacing * 2;
    height: auto;
    margin: 0;
    position: fixed;
    z-index: 1000;
   
    top: 0;
    left: $base-spacing / 2;
}
