nav#social {
    padding: $base-spacing / 2;

    .fa {
        font-size: 1.15em;
    }
}

footer {
    nav#social {
        @include inline-list-centered;
    }
}

nav#payments {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    height: 100px;

    @include background-color-1;

    ul {
        padding: $base-spacing / 4;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background: $black;
        z-index: 1;

        li {
            color: $white;
            display: inline;
            margin: $base-spacing / 2;
            font-size: 20px;
        }
    }
}
